<h1>Appointments</h1>
<%= link_to "Appointments", new_user_appointment_path%>
	<% @cars.each do |car| %>
 	<li><%= car.tag %></li>
 	<li><%= car.brand %></li>
 	<li><%= car.model %></li>
  <br>
 <% end %>